.header {
  background: 	#002147;
  padding: 13px 0px;
  border-bottom: 2px solid #552539;
}
.menu a {
  color: #fff;
  text-decoration: none;
  font-weight: bolder;
  letter-spacing: 2.2px;
  border-right: 2px solid #fff;
  padding: 0px 20px;
  transition: .4s;
}
a:last-child{
  border: none;
}
.menu a:hover{
  color: #ec6100;
}
/* .page_Wr.container {
  padding: 50px 0px;
} */
.banner{
  background-image: url("./assets/images/banner.jpg");
}
.banner h2 {
  font-size: 30px;
  padding: 70px 0px;
  text-align: center;
  color: #fff;
  text-shadow: 0px 3px 0px rgb(12 32 88);
}
.card-section{
  text-align: center;
}
.card {
  margin: 28px 32px;
}
.card-section-heading h2 {
  padding: 28px 0px;
}
.footer{
  background-color: black;
  color: #fff;
  padding: 35px 0px;
}
.office p{
  padding: 15px 0px;
}
.table-heading{
  text-align: center;
  padding: 30px 0px;
  position: relative;
}
.table-heading h2::after{
  content: "";
  position: absolute;
  height: 6px;
  border-bottom: 2px solid rgb(138 43 226);
  /* border-top: 1px solid rgb(34, 6, 6); */
  top: 47px;
  right: 353px;
  width: 83px;
}
.table-heading h2::before{
  content: "";
  position: absolute;
  height: 6px;
  border-bottom: 2px solid rgb(138 43 226);
  /* border-top: 1px solid rgb(34, 6, 6); */
  top: 47px;
  left: 353px;
  width: 83px;
}
.center{
  text-align: center;
}
.form{
  padding: 30px 0px;
}
input[type="text"]{
  padding: 8px 12px;
}
.field{
  margin: 15px 0px;
}
.logo h5{
  color: #ec6100;
}
.logo h5 span{
  color: green;
}
.dateSection{
  padding: 40px 0px;
  position: relative;
}
.apply_leave {
  text-align: center;
  width: 22%;
  margin: 0 auto;
}
.left{
  text-align: left;
}
.from-date , .to-date {
  margin: 15px 0px;
}
.leave_button{
  margin: 30px 0px;
}
input[type="date"]{
    padding: 9px 7px;
    width: 100%;
}
label{
  font-weight: bold;
  color: gray;
}
.btn .btn-danger{
width: 50%;
}
.leave_button.left {
  margin-top: 20px;
}
.year{
  color: #ec6100;
}
.month{
  color: #2cc70f;
}
.days{
  color: blueviolet;
}
.date-show h3{
  box-shadow: 0px 0px 8px #1000ff;
  width: 36%;
  padding: 17px 20px;
  position: absolute;
  background: black;
  top: 0;
  color: #fff;
  border-radius: 46px;
  text-align: center;
  right: 0;
}
.react-date-picker__wrapper {
  width: 100%;
  padding: 7px 16px;
  margin: 17px 0px;
}